<div class="theiaStickySidebar">
  <section class="section-wrapper expertise-wrapper gray-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h2>Sobre mí</h2>
          </div>
        </div>
      </div>
      <!-- .row -->

      <div class="row">
        <div class="col-md-12">
          <div class="expertise-item">
            <h3>Perfil</h3>

            <p>
              Estudiante de programación en la Universidad Tecnológica Nacional
              con más de 1 año y medio de experiencia comercial en desarrollo
              web, actualmente trabajando como desarrollador en Accenture. 
              <br>
              Mi objetivo profesional es profundizar mis conocimientos,
              especialmente en el área de front-end utilizando Angular.
            </p>
          </div>
        </div>
        
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="expertise-item">
            <h3>Contacto</h3>

            <p>
              <a href="assets/cv.pdf" target="blank"><b>Mi curriculum</b></a>
              <br>Email: <a href="mailto:danielclas@outlook.es">danielclas@outlook.es</a>
              <br>Mi pagina de <a href="https://www.linkedin.com/in/danielclas/" target="blank">LinkedIn</a>
            </p>
          </div>
        </div>

        

      </div>


    </div>
  </section>
  <!-- .expertise-wrapper -->

  <section class="section-wrapper section-experience gray-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h2>Aptitudes</h2>
          </div>
        </div>
      </div>
      <!-- .row -->

      <div class="row">
        <div class="col-md-6">
          <div class="expertise-item">
            <h3>Tecnologías Back-End</h3>

            <p>
              .NET / C#
              <br>C
              <br>SQL Server
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="expertise-item">
            <h3>Tecnologías Front-End</h3>

            <p>
              Javascript / Jquery
              <br>HTML5 / CSS3 / Bootstrap
              <br>Angular
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="expertise-item">
            <h3>DevOps</h3>

            <p>
              Amazon Web Services
            </p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="expertise-item">
            <h3>Idiomas</h3>

            <p>
              Inglés bilingüe, hablado y escrito
              <br>Cambridge's FIRST Certificate, ETS TOEFL Exam
            </p>
          </div>
        </div>

      </div>


    </div>
  </section>
  <!-- .expertise-wrapper -->

  <section class="section-wrapper section-experience gray-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title"><h2>Experiencia profesional</h2></div>
        </div>
      </div>
      <!--.row-->
      <div class="row">
        <div class="col-md-12">
          <div class="content-item">

            <small>2019 - Presente</small>
            <h3>Accenture</h3>
            <h4>
              Desarrollador full-stack
              <br>
            </h4>
            <i><small>Buenos Aires</small></i>

            <p>
              Diseño, desarrollo y mantenimiento de aplicaciones web utilizadas por toda la
              compañía a nivel global, utilizando metodologías agiles
            </p>
          </div>
          <!-- .experience-item -->

          <div class="content-item">
            <small>2017 - 2018</small>
            <h3>Autónomo</h3>
            <h4>
              Desarrollador de eCommerce
              <br>
            </h4>
            <i><small>Remoto</small></i>

            <p>
              Desarrollo de comercios web propios y de terceros utilizando la plataforma Shopify
              <br> Diseño y desarrollo de plantillas para clientes
            </p>
          </div>
          <!-- .experience-item -->
        </div>
      </div>
      <!--.row-->
    </div>
    <!-- .container-fluid -->

  </section>
  <!-- .section-experience -->

  <section class="section-wrapper section-education gray-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title"><h2>Educación</h2></div>
        </div>
      </div>
      <!--.row-->
      <div class="row">
        <div class="col-md-12">        

          <div class="content-item">
            <small>2019 - Presente</small>
            <h3>Tecnicatura Superior en Programación</h3>

            <p>Universidad Tecnológica Nacional.
              <br> 
              Materias aprobadas: 11/21. 
              <br>
              Promedio: 8.8.
            </p>
          </div>
          <!-- .experience-item -->
        </div>
      </div>
      <!--.row-->
    </div>
    <!-- .container-fluid -->

  </section>
  <!-- .section-education -->

  <section class="section-wrapper section-interest gray-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h2>Intereses</h2>
          </div>
        </div>
      </div>
      <!-- .row -->

      <div class="row">
        <div class="col-md-12">
          <div class="content-item">
            <h3>Voluntariados</h3>

            <p>
              Tuve la oportunidad de poder transmitir mis conocimientos de la lengua inglesa a niños de edad preescolar durante un viaje en Tailandia, en el cual pude conocer sobre la cultura de ese país y relacionarme con gente de diversos origenes gracias a esta oportunidad de voluntariado
            </p>
          </div>
          <div class="content-item">
            <h3>Deportes</h3>

            <p>
              Fútbol
              <br> Tenis
            </p>

          </div>
        </div>
      </div>
      <!-- .row -->

    </div>
  </section>
  <!-- .section-interest -->

  <footer class="footer">
    <app-footer class="copyright-section"></app-footer>
    <!-- .copyright-section -->
  </footer>
</div>
<!-- Sticky -->
