<header class="header theiaStickySidebar">
  <div class="profile-img">
    <img src="assets/img/img-profile.jpg" class="img-responsive" alt=""/>
  </div>
  <div class="content">
    <div>
      <h1>Daniel Clas</h1>    
      <p>23 años / Lanús, Buenos Aires</p>
      <span class="lead">Desarrollador full-stack @ Accenture</span>
    </div>
        
    <div class="about-text">
      <p>Estudiante de Tecnicatura Superior en Programación en la Universidad Tecnológica Nacional </p>
    </div>

    <ul class="social-icon">
      <li><b>Más información:</b></li>
      <li><a href="https://www.linkedin.com/in/danielclas/" target="blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </li>
      <li><a href="https://github.com/danielclas" target="blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
      <li><a href="assets/resume.pdf" target="blank"><i class="fa fa-file-word-o" aria-hidden="true"></i></a></li>
    </ul>

    <p>Sitio creado con Angular y Bootstrap</p>
  </div>
</header>
<!-- .header-->
